spring:
  datasource:
    url: jdbc:mysql://localhost:3306/clientelo
    driverClassName: com.mysql.jdbc.Driver
    username: root
    password: 123
  jpa:
    hibernate.ddl-auto: create-drop
    generate-ddl: true
    show-sql: true
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

management:
  endpoints:
    web:
      base-path: /actuator
    jmx:
      exposure:
        include: '*'
    health:
      show-details: 'always'

root_dev_pass: 123
jwt:
  secret:
  expiration: